<?php

/**
 * Configuration template for the project
 *
 * Copy this file to config.php and update the values according to your environment.
 *
 * @example cp .castor/config.php.dist .castor/config.php
 */

return [
    'PROJECT_NAME' => 'my-project',
    'APP_USER' => 'symfony',
    'DATABASE_USERNAME' => 'root',
    'DATABASE_PASSWORD' => 'secret',
    'SYLIUS_DATABASE_NAME' => 'sylius_db',
    'COOP_DATABASE_NAME' => 'coop_db',
    'ENV' => 'dev',
];
